* {
    font-family: Lato,Microsoft YaHei, sans-serif;
    color: #666666;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    /*overflow-x: hidden;*/
}

a {
    text-decoration: none;
}

    a img {
        border: none;
    }

ul {
    list-style: none;
}

* {
    -moz-transition: opacity 0.4s; /* Firefox 4 */
    -webkit-transition: opacity 0.4s; /* Safari 和 Chrome */
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}


.clear {
    clear: both;
}
/*　head */
.head {
    width: 100%;
    background: #fff;
    border-top: 5px solid #F56A6A;
}

    .head.fixed {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
    }

.slider.fixed {
    margin-top: 170px;
}
/* nav */
.head .nav {
    width: 100%;
    background: #F56A6A;
    height: 50px;
}

    .head .nav ul {
        width: 1000px;
        margin: 0 auto;
    }

    .head .nav li {
        float: left;
    }

    .head .nav a {
        color: #fff;
        line-height: 30px;
        padding: 10px 20px;
        display: block;
    }

        .head .nav a.current, .head .nav a:hover {
            background: #FA9D9D;
        }

.head .logo img {
    margin: 10px 10px 0 10px;
    height: 100px;
    transition: height 0.4s;
    -moz-transition: height 0.4s; /* Firefox 4 */
    -webkit-transition: height 0.4s; /* Safari 和 Chrome */
    -o-transition: height 0.4s;
}

.head.fixed .logo img {
    height: 50px;
}
/* slider start */
.slider {
    background: #333;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

    .slider .frame {
        width: 1000px;
        background: #000;
        height: 300px;
        margin: 0 auto;
        position: relative;
    }

        .slider .frame > div {
            position: absolute;
        }

    .slider .btn {
        width: 100px;
        height: 100px;
        top: 100px;
        opacity: 0.8;
        cursor: pointer;
    }

        .slider .btn:hover {
            opacity: 1;
        }

    .slider .btn_pre {
        background: url('../images/img_left_arrow.png');
        left: -50px;
    }

    .slider .btn_next {
        background: url('../images/img_right_arrow.png');
        right: -50px;
    }

    .slider .frame .list a div {
        width: 1000px;
        height: 300px;
        float: left;
        overflow: hidden;
    }

    .slider .frame .list {
        width: 10000px;
    }

    .slider .mini {
        width: 1200px;
        height: 100px;
        margin: 0 auto;
    }

        .slider .mini .list {
            width: 5000px;
        }

            .slider .mini .list > div {
                width: 200px;
                height: 90px;
                float: left;
                margin: 4px 2px;
                border: 1px solid #fff;
                filter: alpha(opacity=60);
                opacity: 0.6;
                cursor: pointer;
                overflow: hidden;
            }

                .slider .mini .list > div:hover {
                    filter: alpha(opacity=100);
                    opacity: 1;
                }

                .slider .mini .list > div.current {
                    filter: alpha(opacity=100);
                    opacity: 1;
                }

    .slider img {
        min-width: 100%;
        min-height: 100%;
    }

    .slider .mini img {
        height: 100%;
    }
/* slider end */

/* content */
.content {
    padding-top: 10px;
    background: url('../images/bg_content.gif') repeat 0 0;
}

.left_content {
    float: left;
    width: 100%;
    margin-right: -300px;
}

.right_content {
    float: right;
    width: 260px;
    height: 800px;
    background: #ccc;
    margin-right: 10px;
}

.tabs {
    margin-right: 280px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.tabs_item li {
    float: left;
    margin-right: 10px;
}

    .tabs_item li a {
        color: #fff;
        line-height: 30px;
        padding: 6px 20px;
        display: block;
        background: #fff;
        box-shadow: #5CA8C6 0px -2px 4px 0px inset;
        -webkit-box-shadow: #C65C80 0px -2px 4px 0px inset;
        -moz-box-shadow: rgb(92,168,198) 0px -2px 4px 0px inset;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #F56A6A;
        border-top: 4px solid #F56A6A;
    }

        .tabs_item li a.current {
            background-color: #fff;
            box-shadow: none;
            color: #000;
        }

        .tabs_item li a:not(.current):hover {
            filter: alpha(opacity=80);
            opacity: 0.8;
        }

.tabs_content {
    background: #fff;
    padding: 10px;
    padding-right: 0px;
}

    .tabs_content > div {
        display: none;
    }

        .tabs_content > div.current {
            display: block;
        }

/* comic */
.comics {
    margin-top: 10px;
}

    .comics li {
        float: left;
        margin: 0 10px 10px 0;
    }

        .comics li > a {
            display: block;
            width: 190px;
            height: 350px;
            padding: 5px;
            background: #fff;
            border: 5px solid #eee;
            font-size: 14px;
            position: relative;
        }


        .comics li img {
            width: 190px;
            height: 190px;
        }

        .comics li .author {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
        }

            .comics li .author img {
                width: 50px;
                height: 50px;
                float: left;
            }

        .comics li img.cover {
            position: relative;
            z-index: 991;
        }

        .comics li .author p {
            float: left;
            padding: 0 5px;
            line-height: 20px;
            color: #444;
        }

        .comics li .date {
            position: absolute;
            bottom: 2px;
            right: 5px;
            font-size: 12px;
        }

        .comics li .hover {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #eee;
            top: -5px;
            left: -5px;
            z-index: 990;
            /*display: none;*/
            filter: alpha(opacity=0);
            opacity: 0;
            border: 5px solid #F56A6A;
        }

            .comics li .hover b {
                position: absolute;
                width: 170px;
                background: #F56A6A;
                bottom: 0;
                margin: 10px;
                padding: 5px;
                color: #FFF;
                text-align: center;
                font-size: 16px;
                font-weight: normal;
            }

                .comics li .hover b:hover {
                    filter: alpha(opacity=80);
                    opacity: 0.8;
                }

                .comics li .hover b:first-child {
                    bottom: 40px;
                }

        .comics li > a:hover {
            /*border-color:#F56A6A;*/
        }

            .comics li > a:hover .hover {
                /*display: block;*/
                filter: alpha(opacity=100);
                opacity: 1;
            }















/* footer */
.footer {
    width: 100%;
    height: 100px;
    background: #eee;
    border-top: 2px solid #F56A6A;
    border-bottom: 5px solid #F56A6A;
}
